#navbar{
    height: 24vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}


/* -----------navbar-1-------------- */


.navbar1{
    height: 20%;
    background-color: RGB(204, 204, 204) ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar1-child{
    width: 95%;
    
}

.navbar1 h1{
        text-align: center;
        font-family: "Space Grotesk", sans-serif;
        font-size: 14px;
        font-weight:400;
        font-style: normal;
        letter-spacing: 1px;
      
}




/* --style navbar2----- */
.navbar2{
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar2-child{
    width: 95%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}



.navbar2-child-1{
    
    height: 100%;
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar2-child-2{
    height: 90%;
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar2-child-3{
    
    height: 100%;
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar2-child-1-child{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}


.navbar2-child-1-input{
    width: 80%;
    height: 80%;
    padding-left: 1%;
    font-size: 20px;
    
}

.navbar2-child-1-svg{
    height: 1.5rem;
    position: absolute;
    right:  12%;
}


.navbar2-child-1-input{
    position: relative;
}




.navbar2-child-2 img{
    height: 100%;
}






.navbar2-child-3-child-1-anchor img{
    height: 5vh;
}

.navbar2-child-3-child-2-anchor img{
    height: 3.7vh;
}

.navbar2-child-3-child-3-anchor img{
    height: 4vh;
}





.navbar2-child-3-child-1-anchor{
    
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2vw;
    height: 100%;
}

.navbar2-child-3-child-2-anchor{
    
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 0.2vw;
}

.navbar2-child-3-child-3-anchor{
    height: 100%;
    
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2vw;
}





.navbar2-child-3-child-1-anchor p{
    letter-spacing: 1.5px;
    color: black;
}


.navbar2-child-3-child-2-anchor p{
    letter-spacing: 1.5px;
    color: black;
}


.navbar2-child-3-child-3-anchor p{
    letter-spacing: 1.5px;
    color: black;
}





.navbar2-child-3-child{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}


.navbar2-child-3{
    display: flex;
    justify-content: flex-end;
}




/* -------navbar-3---------- */


.navbar-3 {
   
    background-color: black;
    height: 20%;
    padding: 0px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 100;
}


.nav-list {
    
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}


.nav-item {
    position: relative;
}


.nav-button {
    background: none;
    border: none;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    padding: 16px 15px;
    transition: color 0.3s;
}

.nav-button:hover {
    color: #000000;
    background-color: white;
    height: 100%;
}


.mega-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    min-width: 200px;
    
}

.nav-button{
    color: white;
}

.single-column {
    list-style: none;
    padding: 0;
    margin: 0;
}



.single-column li {
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s;
}




.single-column li:hover {
    background-color: #f4f4f4;
}


.menu-column {
    margin-bottom: 10px;
}

.menu-column h3 {
    font-size: 14px;
    margin-bottom: 5px;
    color: white
}


.menu-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-column li {
    padding: 5px 10px;
    cursor: pointer;
    transition: background 0.3s;
    color: white;
}

.menu-column li:hover {
    background-color: #f4f4f4;
}
















/* -----------navbar-4----------- */

.navbar-4{
    height: 20%;
    text-align: center;
    background-color: RGB(242, 242, 242);
    display: flex;
    justify-content: center;
    align-items: center; 
}


.navbar-4-childs{
    display: flex;
    gap: 3vw;
}

.navbar-4-child{
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: .5vw;
}


.navbar-4-child img{
    height: 3vh;
}

.navbar-4-child p{
    font-size: 14px;
}





